*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right,#020024,#090979,#00d4ff);
}



.App-article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}
label{
  display: flex;
  justify-content:center;
  align-items: center;
}


